@model RolesAddUserViewModel
@{
    ViewData["Title"] = "AddUser";
}

<section class="pt-4">
    <h1>Assign to @Model.Role.Name</h1>
</section>

<section class="pt-4">
    <form asp-action="AddUser" method="post">

        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">@TempData["Error"]</div>
        }

        <input type="hidden" asp-for="RoleId" />

        <div class="form-group">
            <select asp-for="UserId" asp-items="Model.Users" class="form-control">
                <option>Select a user...</option>
            </select>
        </div>

        <div>
            <input type="submit" class="btn btn-primary" value="Assign" />
        </div>

    </form>
</section>