@model RolesAddUserViewModel
@{
    ViewData["Title"] = "AddUser";
}

<section class="pt-4">
    <h1>Assign to @Model.Role.Name</h1>
</section>

<section class="pt-4">
        <form asp-action="AddUser" method="post" class="form-inline">
            <input type="hidden" asp-for="RoleId" />
            <select asp-for="UserId" asp-items="Model.Users" class="form-control">
                <option>Select a user...</option>
            </select>
            <input type="submit" class="btn btn-primary ml-1" value="Assign" />
        </form>
</section>