@model ApplicationRole

@{
    ViewData["Title"] = "Create Role";
}

<section class="pt-4">
    <h1>Create Role</h1>
</section>

<section class="pt-4">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</section>

<div>
    <a asp-action="Index">Back to List</a>
</div>