<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>You have been invited to a role!</title>
</head>
<body>
    <div class="container">
        <h1>Invitation to role</h1>
        <div class="row">
            <div class="col-lg-12">
                <h4>Hello {0} {1},</h4>
                <p>You've been invited to the role of <strong>{2}</strong> at the Highlander Museum CRM System</p>
                <p>If you would like to accept, please click on the button below, or use this link {3}</p>
                <a class="btn btn-info" href="{4}">Info</a>
            </div>
        </div>
    </div>
</body>
</html>