@model InviteViewModel
@{
    ViewBag.Title = "Invite";
    ViewBag.Code = "I";
}

<h2>Manage your account</h2>
<h4>Change your account settings</h4>
<hr />

<div class="row">
    <div class="col-md-3">
        <partial name="_AccountPills" />
    </div>
    <div class="col-md-9">

        <h4 class="mb-4">Welcome to your new role!</h4>
        
    </div>
</div>