@model LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "_AuthLayout";
}
    <div class="centered-div text-center mt-5">
        <div class="jumbotron">
            <img id="logo-square" src="~/logos/THM_QOHC_Logo_rgb.png" class="w-25 mb-3" alt="Logo CRM">
            <form method="post" asp-controller="Account" asp-action="Login" class="w-50 m-auto">
                <div asp-validation-summary="ModelOnly"></div>

                <input type="hidden" asp-for="ReturnUrl" />

                <!--Input username-->
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="username_icon"><i class="fas fa-user"></i></span>
                        </div>
                        <input asp-for="Username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="username_icon" required>
                    </div>
                    <span class="text-danger" asp-validation-for="Username"></span>
                </div>

                <!--Input password-->
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="password_icon"><i class="fas fa-lock"></i></span>
                        </div>
                        <input asp-for="Password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="password_icon" required>
                    </div>
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>

                <div class="mt-2">
                    <p>Don't have an account? <a asp-action="Register" asp-controller="Account">Register</a>.</p>
                </div>

                <div>
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>