@model RegimentsIndexViewModel
@{
    ViewBag.Title = "Regiments";
}

    <section>
        @if (Model.Regiments.Any())
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Regiments)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td class="details-arrow">
                                <a asp-controller="Regiments" asp-action="Details" asp-route-id="@item.Id"><i class="ion ion-md-arrow-round-forward"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        { 
            <p>No regiments yet.</p>
        }
    </section>

<a asp-controller="Regiments" asp-action="Create" class="btn btn-primary">Add New Regiment</a>