@{
    ViewData["Title"] = "Home Page";
}

<section class="pt-4">
    <h1>@ViewData["Title"]</h1>
</section>
        
<section class="pt-4">
    <div class="row">
        <!-- Roles -->
        @if (!(User.IsInRole("Superuser") || User.IsInRole("Administrator")))
        {
            <div class="card mt-3 col-sm-4 col-12">
                <a asp-controller="Roles" asp-action="Index" title="Roles_Title">
                    <div class="card-block">
                        <h4 class="card-title text-dark ">Roles</h4>
                        <p class="card-text text-dark ">Some content here.</p>
                        <p class="card-text ">
                    </div>
                </a>
            </div>
        }

        <!-- Artefacts -->
        @if (!(User.IsInRole("Administrator") || User.IsInRole("Staff") || User.IsInRole("Volunteer") || User.IsInRole("Donor")))
        {

            <div class="card mt-3 col-sm-4 col-12">
                <a asp-controller="Artifacts" asp-action="Index" title="Artifacts_Title">
                    <div class="card-block">
                        <h4 class="card-title text-dark ">Artifacts</h4>
                        <p class="card-text text-dark ">Some content here.</p>
                        <p class="card-text ">
                    </div>
                </a>
            </div>
        }
    </div>
</section>