@{
    ViewData["Title"] = "Home Page";
}
        
<section>
    <div class="row">
        <!-- Roles -->
        @if (User.IsInRole("Superuser") || User.IsInRole("Administrator"))
        {
            <div class="card mt-3 p-4 mr-3 col-sm-3 col-12">
                <a asp-controller="Roles" asp-action="Index" title="Title">
                    <div class="card-block">
                        <h4 class="card-title text-dark ">Roles</h4>
                        <p class="card-text text-dark ">Edit and manage user roles.</p>
                        <p class="card-text ">
                    </div>
                </a>
            </div>
        }

        @if (User.IsInRole("Administrator") || User.IsInRole("Staff"))
        {
            <div class="card mt-3 p-4 mr-3 col-sm-3 col-12">
                <a asp-controller="Regiments" asp-action="Index" title="Title">
                    <div class="card-block">
                        <h4 class="card-title text-dark ">Regiments</h4>
                        <p class="card-text text-dark ">Create and edit our partnered Regiments.</p>
                        <p class="card-text ">
                    </div>
                </a>
            </div>
        }

        <!-- Artefacts -->
        @if (User.IsInRole("Administrator") || User.IsInRole("Staff") || User.IsInRole("Volunteer") || User.IsInRole("Donor"))
        {
            <div class="card mt-3 p-4 mr-3 col-sm-3 col-12">
                <a asp-controller="Artefacts" asp-action="Index" title="Title">
                    <div class="card-block">
                        <h4 class="card-title text-dark ">Artefacts</h4>
                        <p class="card-text text-dark ">Donate and view Artefacts.</p>
                        <p class="card-text ">
                    </div>
                </a>
            </div>
        }

        <!-- Site Options -->
        @if (User.IsInRole("Superuser"))
        {
            <div class="card mt-3 p-4 mr-3 col-sm-3 col-12">
                <a asp-controller="SiteOptions" asp-action="Edit" title="Title">
                    <div class="card-block">
                        <h4 class="card-title text-dark ">Site Settings</h4>
                        <p class="card-text text-dark ">Customise the look and feel of the site.</p>
                        <p class="card-text ">
                    </div>
                </a>
            </div>
        }
    </div>
</section>