@{
    ViewData["Title"] = "Home Page";
}
        
<section>
    <div class="row">
        <!-- Roles -->
        @if (User.IsInRole("Superuser") || User.IsInRole("Administrator"))
        {
            <div class="card mt-3 p-4 mr-3 col-sm-3 col-12">
                <a asp-controller="Roles" asp-action="Index" title="Title">
                    <div class="card-block">
                        <h4 class="card-title text-dark ">Roles</h4>
                        <p class="card-text text-dark ">Edit and manage user roles.</p>
                    </div>
                </a>
            </div>
            <div class="card mt-3 p-4 mr-3 col-sm-3 col-12">
                <a asp-controller="Mailchimp" asp-action="Export" title="Title">
                    <div class="card-block">
                        <h4 class="card-title text-dark ">Download Mailchimp Data</h4>
                        <p class="card-text text-dark ">Get all the data needed for Mailchimp in CSV form.</p>
                    </div>
                </a>
            </div>
            <div class="card mt-3 p-4 mr-3 col-sm-3 col-12">
                <a asp-controller="Staff" asp-action="Remove" title="Title">
                    <div class="card-block">
                        <h4 class="card-title text-dark ">Remove Staff</h4>
                        <p class="card-text text-dark ">Remove the staff role from any former staff.</p>
                    </div>
                </a>
            </div>
            <div class="card mt-3 p-4 mr-3 col-sm-3 col-12">
                <a asp-controller="Invite" asp-action="Index" title="Title">
                    <div class="card-block">
                        <h4 class="card-title text-dark ">Invite Users to Roles</h4>
                        <p class="card-text text-dark ">Send users an invite to a new role.</p>
                    </div>
                </a>
            </div>
        }

        @if (User.IsInRole("Administrator") || User.IsInRole("Staff"))
        {
            <div class="card mt-3 p-4 mr-3 col-sm-3 col-12">
                <a asp-controller="Regiments" asp-action="Index" title="Title">
                    <div class="card-block">
                        <h4 class="card-title text-dark ">Regiments</h4>
                        <p class="card-text text-dark ">Create and edit our partnered Regiments.</p>
                    </div>
                </a>
            </div>
        }

        <!-- Artefacts -->
        @if (User.IsInRole("Administrator") || User.IsInRole("Staff") || User.IsInRole("Volunteer") || User.IsInRole("Donor"))
        {
            <div class="card mt-3 p-4 mr-3 col-sm-3 col-12">
                <a asp-controller="Artefacts" asp-action="Index" title="Title">
                    <div class="card-block">
                        <h4 class="card-title text-dark ">Artefacts</h4>
                        <p class="card-text text-dark ">Donate and view Artefacts.</p>
                    </div>
                </a>
            </div>
        }

        <!-- Site Options -->
        @if (User.IsInRole("Superuser"))
        {
            <div class="card mt-3 p-4 mr-3 col-sm-3 col-12">
                <a asp-controller="SiteOptions" asp-action="Edit" title="Title">
                    <div class="card-block">
                        <h4 class="card-title text-dark ">Site Settings</h4>
                        <p class="card-text text-dark ">Customise the look and feel of the site.</p>
                    </div>
                </a>
            </div>
        }
    </div>
</section>